{% extends 'voyage/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'meteo/css/style.css' %}">
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.simpleWeather/3.1.0/jquery.simpleWeather.min.js"></script>
<!--leaflet-->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css"
   integrity="sha512-07I2e+7D8p6he1SIM+1twR5TIrhUQn9+I6yjqD53JQjFiMf8EtC93ty0/5vJTZGF8aAocvHYNEDJajGdNx1IsQ=="
   crossorigin=""/>


{% endblock %}

{% block content %}

<div id="map"></div>
<div id="layers">
    <label class="radio-inline"><input type="radio" name="layer" value="city" checked="True">City</label>
    <label class="radio-inline"><input type="radio" name="layer" value="clouds">Clouds</label>
    <label class="radio-inline"><input type="radio" name="layer" value="precipitation">Precipitation</label>
    <label class="radio-inline"><input type="radio" name="layer" value="pressure">Pressure</label>
    <label class="radio-inline"><input type="radio" name="layer" value="wind">Wind</label>
    <label class="radio-inline"><input type="radio" name="layer" value="temp_new">Temperature</label>

</div>
<div id="button"><button class="js-geolocation btn-warning" style="display: none;">Use Your Location</button></div>
<div id="weather"></div>

<div id="mapid"></div>

<!--<div id="map1" class="map"></div>-->
<!--<div id="cont_30bd257497a68ee63ef3e9c45acfaa9e"><script type="text/javascript" async src="https://www.yourweather.co.uk/wid_loader/30bd257497a68ee63ef3e9c45acfaa9e"></script></div>-->

{% endblock %}


{% block js %}
<script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"
   integrity="sha512-A7vV8IFfih/D732iSSKi20u/ooOfj/AGehOKq0f4vLT1Zr2Y+RX7C+w8A1gaSasGtRUZpF/NZgzSAu4/Gc41Lg=="
   crossorigin=""></script>
<!--<script src="https://openlayers.org/en/v4.1.0/build/ol.js" type="text/javascript"></script>-->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBsLzO7lckWXomSRWsCap6JuqB3XYMrTNY"></script>
<script src="{% static 'meteo/js/app.js' %}"></script>


<!--<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBsLzO7lckWXomSRWsCap6JuqB3XYMrTNY&callback=initMap">-->
    <!--</script>-->

{% endblock %}