{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

  <title>Aries</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.2.1.js"  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="  crossorigin="anonymous"></script>

  <link rel="stylesheet" href="{% static 'voyage/css/style.css' %}">
	{{ form.media }}

	<!--{% block extra_js %}{% endblock %}-->
</head>
    <body>
        <nav class="navbar navbar-inverse">
		  <div class="container-fluid">
			<div class="navbar-header">
			  <div style="display:inline"><img alt="logo" src="{% static 'voyage/pictures/logo.jpg' %}" width="60"></div>
			  <div style="display:inline"><a class="navbar-brand" href="{% url 'index' %}">Aries</a></div>
			</div>
		    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      <ul class="nav navbar-nav">
			    <li><a href="{% url 'ships' %}">Ships</a></li>
		      	<li><a href="{% url 'voyages' %}">Voyages</a></li>
			    <li><a href="{% url 'ports' %}">Ports</a></li>
				<li><a href="{% url 'waypoints' %}">Waypoints</a></li>
			  	<li><a href="{% url 'meteo' %}">Meteo</a></li>
		        <li><a href="#">Search</a></li>
		      </ul>
		      {% block search %}
 				{% endblock %}

			   <ul class="nav navbar-nav navbar-right">
				<li><a href="{% url 'profile' pk=user.pk %}">{{user}}</a></li>
			    <li><a href="{% url 'logout' %}">Log Out</a></li>
			   </ul>

		    </div><!-- /.navbar-collapse -->
		  </div><!-- /.container-fluid -->



		</nav>

        {% block content %}
        {% endblock %}


		<!--<script src="floppyforms/static/floppyforms/js/MapWidget.js"></script>-->
        <script src="{% static 'voyage/js/app.js' %}"></script>

    </body>
</html>