<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
  <title>Aries</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
    <body>
        {% block content %}
        {% endblock %}
        <script src="https://code.jquery.com/jquery-3.2.1.js"
  			  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
  			  crossorigin="anonymous"></script>
        <script src="{% static 'profiles/js/app.js' %}"></script>
    </body>
</html>