{% extends 'voyage/base.html' %}

{% block content %}
<h1 id="argh">Argh!!!</h1>

<div class="row">
  <div class="col-md-8">
      <p>
        Yo-ho-ho main sheet sheet driver gabion grog blossom capstan quarterdeck chantey careen. Dance the hempen jig
        gabion wench hail-shot walk the plank booty cutlass landlubber or just lubber bilge rat maroon. Brethren of
        the Coast strike colors hardtack bilge rat cog snow Jack Tar wherry lugger spirits.

        Fore cog Sail ho ahoy bring a spring upon her cable hang the jib lookout hornswaggle reef sails starboard. Capstan
        lugsail topmast black jack hearties Chain Shot long clothes Jolly Roger knave boom. Arr me hornswaggle hail-shot
        Sea Legs knave pressgang stern bilge rat hearties.

        Smartly Chain Shot knave sloop cutlass spirits plunder tack parley scourge of the seven seas. League Sail ho yardarm
        American Main gabion Shiver me timbers fluke mutiny crimp long boat. Belaying pin furl tackle matey gaff Davy
        Jones' Locker pink Privateer Spanish Main Jolly Roger.
      </p>
      <p>
        Run a rig lugsail hulk scallywag rigging come about booty loot Pieces of Eight jib. Hang the jib pressgang come about
        knave lee Buccaneer bilge brig poop deck wherry. List wench topsail to go on account scourge of the seven seas case
        shot booty gangway ho nipperkin.

        Pirate gun Shiver me timbers maroon starboard hands hempen halter skysail fire in the hole hang the jib.
        Piracy careen crow's nest chandler ahoy splice the main brace lanyard provost heave down American Main. B
        uccaneer chase guns fire ship wherry coffer black spot strike colors haul wind weigh anchor execution dock.

        Bilge jib six pounders careen bilge rat Chain Shot deadlights swing the lead strike colors Blimey.
        Transom maroon red ensign Corsair pirate pink holystone hornswaggle ye code of conduct. Square-rigged rutters
        hands ballast spyglass nipper Jolly Roger crow's nest Jack Tar lookout.
      </p>
  </div>

  <div class="col-md-4">
    <!--<img id="picture" src="https://api.nasa.gov/images/apod.jpg" alt="NASA Picture of the Day">-->
    <IFRAME SRC="http://server1.sky-map.org/skywindow?ra=00 42 32&de=41 19 53&zoom=4" WIDTH=400 HEIGHT=320" WIDTH=400 HEIGHT=320>
    </IFRAME>

  </div>

    <div style="padding:0px; width:500px; font-family:sans-serif,Arial,Helvetica; font-size:10pt; text-align:center"><div>
        <img src="http://ws.astroviewer.net/skymap?type=png&amp;size=500&amp;colorset=0&amp;lang=en&amp;lon=-0.1&amp;lat=51.52&amp;city=London&amp;timezone=WET&amp;deco=16399&amp;id=4d6174" width="500" height="500" alt="current night sky over London" title="current night sky over London" style="border:none" />
    </div>
        <div>Sky map by <a href="http://www.astroviewer.com/">AstroViewer</a>
            <sup>&reg;</sup>
        </div>
        <div>Get the
            <a href="http://www.astroviewer.com/night-sky-code.php">HTML code</a>
            for this sky map
        </div>
    </div>



</div>



{% endblock %}