{% extends 'voyage/base.html' %}

{% block content %}
<header>
	<h1>Ports List</h1>
</header>

<div class="fish" id="fish"></div>
<div class="fish" id="fish2"></div>

<div id="form"  max-width="100%">
	<div class="col-xs-4">
		<ol>
			{% for port in object_list %}
			<div class="row">
				<li>
					<div class="col-xs-6">
						<a href="{{port.get_absolute_url}}">{{port}}</a>
					</div>
					<div class="col-xs-3">
						<a href="{% url 'modify-port' pk=port.pk %}" type="button" class="btn btn-default" >Modify</a>
					</div>
					<div class="col-xs-3">
						<a href="{% url 'delete-port' pk=port.pk %}" type="button" class="btn btn-danger" >Delete</a>
					</div>
				</li>
			</div>
			{% empty %}
			No Ports
			{% endfor %}

		</ol>
		<a href="{% url 'add-port' %}" type="button" class="btn btn-default" >Add Port</a>
	</div>
</div>
{% endblock %}